.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: .9rem;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: .9rem;
    padding: 10px 10px 10px 10px;
    gap: 8px;
}

.counter button {
    background-color: rgb(225, 225, 225);
    border-radius: 0;
    cursor: pointer;
}

.counter:hover {
    transition: .5s ease;
    color: #797474a8;
}

.btn_buy {
    cursor: pointer;
}

span {
    color: #000;
    font-size: 15px;
}

