.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: .9rem;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: .9rem;
    padding: 10px 10px 10px 10px;
    gap: 8px;
}

.btn_buy {
    background-color: rgb(225, 225, 225);
    border: none ;
    padding: 20px 10px 20px 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    background-color:  #ffb12a;
    color: #fff;
}

.btn_buy:hover {
    background-color: #F99F02;
    transition: all 0.5s;
}

.counter:hover {
    transition: .5s ease;
    color: #797474a8;
}

.btn_buy {
    cursor: pointer;
}

span {
    color: #000;
    font-size: 15px;
}

