* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #3c3c3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.6rem;
}

.after_header {
    background-color: #3b3b3b;
    display: flex;
    gap: 1.2rem;
    padding: 0.6em 0 0.6em 0;
}

.after_header_container {
    display: flex;
    gap: 8px;
    margin-left: 1rem;
}

p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}


.nav_header {
    display: flex;
}

.nav_link {
    text-decoration: none;
    color: #fff;
}

.nav_link:hover {
    color: #F99F02;
    transition: all 0.5s;
}

 ul li {
    list-style: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-left: 1rem;
}



.r_header {
    display: flex;
    justify-content: flex-end;
    max-width: 40px;
    cursor: pointer;
}

.nav_header_mobile {
    display: none;
}

.banner_container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.img_banner {
    width: 100%;
    height: auto;
    }


/* MEDIAQ */

@media (max-width: 750px) {
    .nav_header {
        display: none;
    }

    .container_nav_header_mobile {
        background-color: #3b3b3b;
    }

    .after_header {
        display: none;
    }

    .banner {
        display: none;
    }
  }
