@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container_detail {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.imagen_detail {
    max-width: 500px;
}